.heroContainer {
  display: flex;
  justify-content: left;
  background-color:#495E57;
  height: flex;
  position: absolute;
  }

.heroHeader {
  font-family: 'Markazi Text Medium';
  display: block;
  font-size: 3rem;
  margin-left: 250px;
  font-weight: bold;
  color: #F4CE14;
}

.heroImg{
  float: right;
  width:400px;
  height: auto;
  border-radius:16px;
  margin-right:300px;
  position: relative;
  top: 60px;
}

.heroP1 {
  font-size: 2rem;
  color: #EDEFEE;
  font-weight: bold;
  margin-left: 250px;
  margin-right: 50px;
}

.heroP2 {
  font-size: 1.5rem;
  color: #EDEFEE;
  font-weight: bold;
  margin-left: 250px;
  margin-right: 50px;
}

.bookButton{
  background-color: #F4CE14;
  color: #333333;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  gap: 20px;
  margin-left: 250px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-family: "Karla";
  font-size: 2rem;
}