.bookingForm {
    width:1024px;
    margin-top: 50px;
    background-color:#495E57;
    color: #EDEFEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 200px;
    justify-content: center;
    font-family: 'Markazi';
    font-size: 40px;
    margin-left: 200px;
    border-radius: 30px;
  }

  .formButton{
    height: 35px;
    background-color: #F4CE14;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    gap: 20px;
    font-family: 'Markazi Text';
}

input:focus:invalid {
  border: 2px solid red;
}