.testimonialContainer{
  display: grid;
  justify-content: center;
  padding: 0rem 5rem 2rem 5rem;
}

.testimonialContainer > h1 {
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0 1rem 0;
  color:  #333333;
}

.testimonialWrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 1vw;
  align-items: center;
}

.testimonialCard {
  background-color:#EDEFEE;
  padding: 1rem 1rem 0 1rem;
  width: 15vw;
  height: 21vw;
  border-radius: 16px;
}

.testimonialCard > h2 {
 display: grid;
 color:  #333333;
 margin: auto;
 font-weight: bold;    
 font-size: 1.5rem;
 justify-content: center;
 padding-bottom: 0.5rem;
}

.testimonialCard > h3 {
  display: grid;
  color:  #333333;
  font-size: 1vw;
  font-style: oblique;   
  justify-content: center;
 }

.testimonialCard > img {
  display: grid;
  width: 12rem;
  height: auto;
  object-fit: contain;
  border-radius: 16px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;

}

.testimonialCard:hover {
  background-color: #f4ce14;
  transition: 0.25s;
}

@media screen and (max-width: 600px) {

  .testimonialWrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }

  .testimonialContainer > h1 {
    text-align: center;
    font-size: 1.5rem;
    margin: 2rem 0 1rem 0;
    color:  #333333;
  }
  
  .testimonialCard {
    background-color:#EDEFEE;
    padding: 1rem 1rem 0 1rem;
    width: 200px;
    height: 300px;
    border-radius: 16px;
  }
  
  
.testimonialCard > h2 {
  display: grid;
  color:  #333333;
  margin: auto;
  font-weight: bold;    
  font-size: 1rem;
  justify-content: center;
  padding-bottom: 0.2rem;
 }
 
 .testimonialCard > h3 {
   display: grid;
   color:  #333333;
   font-size: 16px;
   font-style: oblique;   
   justify-content: center;
  }
 
  .testimonialCard > img {
    display: grid;
    width: 8rem;
    height: auto;
    object-fit: contain;
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  
  }

}
