.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html { font-size: 22px; }
body { padding: 1rem; }



.nav {
  grid-area: nav;
}

.hero {
  grid-area: hero;
}

.highlights {
  grid-area: highlights;
}

.testimonials {
  grid-area: testimonials;
}

.about {
  grid-area: about;
}

.footer {
  grid-area: footer;
}

.box {
  grid-area: box;
}

.container{
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      "nav hero hero"
      "nav highlights highlights"
      "nav testimonials testimonials"
      "nav about about"
      "footer footer footer";
  }

  nav ul {
    flex-direction: column;
  }


@media (min-width: 500px) {
  .container {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      "nav hero hero"
      "nav highlights highlights"
      "nav testimonials testimonials"
      "nav about about"
      "footer footer footer";
  }
  nav ul {
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (min-width: 700px) {
  .container {
    grid-template-columns: 50px repeat(12, 1fr);
    grid-column-gap: 20px;
    grid-template-areas:
      "box box nav nav nav"
      "hero"
      "highlights"
      "testimonials"
      "about"
      "footer";
  }

  li {
    display: inline;
    text-align: center;
    padding: 8px
  }
}

h1 {
  font-family: 'Markazi Text';
  display: block;
  font-size: 4em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold
}

h2 {
  font-family: 'Markazi Text';
  display: block;
  font-size: 3em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 {
  font-family: 'Markazi Text';
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h4 {
  font-family: 'Markazi Text';
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h5 {
  font-family: 'Markazi Text';
  display: block;
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h6 {
  font-family: 'Markazi Text';
  display: block;
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

p {
  font-family: 'Karla'
}