* {
  font-family: "Markazi Text", "Karla", serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html { font-size: 22px; }
body { padding: 1rem; }


menu {
  list-style: none;
  display: grid;
}

.mobile {
  display: none;
}

.closed {
  display: none;
  grid-template-columns: 5fr 1fr;
}

@media screen and (max-width: 600px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: grid;
    grid-template: auto auto auto auto auto auto auto / auto;
    align-items: center;
    padding-left: 0;
  }

  .closed {
    display: grid;
  }

  .closed > img {
    margin-top: 1.5rem;
    margin-left: 0.5rem;
  }
}

